Lab | Inferential statistics - ANOVA

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

- State the null hypothesis <br>
- State the alternate hypothesis <br>
- What is the significance level <br>
- What are the degrees of freedom of model, error terms, and total DoF<br>
- Data was collected randomly and provided to you in the table as shown: link to the image - Data

#### Null Hypothesis

H0: There is no significant difference in etching rate between the power levels

#### Alternative Hypothesis

Ha: At least two means are different

#### Significance Level

Alpha(Î±) = 0.05

#### Degrees of Freedom of the Model

dfmodel = 2 (the number of power levels - 1)

dferror = 12 (total number of observations - total number of groups)

dftotal = 14 (total number of observations - 1)

## Part 2

- In this section, use Python to conduct ANOVA.<br>
- What conclusions can you draw from the experiment and why?

In [7]:
# import libraries

import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.formula.api import ols

import warnings
warnings.filterwarnings('ignore')

In [4]:
# read data into python

data = pd.read_excel('/Users/KirstyG/Desktop/Ironhack/lab-inferential-statistics-anova/files_for_lab/anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [6]:
data.columns = data.columns.str.strip().str.replace(' ', '_').str.lower()
data.head()

  power_  etching_rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [13]:
data = data.rename(columns={'power_': 'power'})
data

    power  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [14]:
model = ols('etching_rate ~ power', data = data).fit()
anova_table = sm.stats.anova_lm(model)

In [15]:
print(anova_table)

            df     sum_sq   mean_sq          F    PR(>F)
power      2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN